.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    padding-top: 3rem;
}

.contact{
    padding-top: 10%;
}

.c-left{
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 24rem;
    height: 3rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #dad71f;
    border-radius: 8px;
    font-size: 19px;
    color: white   
}

.c-right .user:hover{
    box-shadow: 0 0 9px #dad71f;
}

input{
    background-color: var(--purple)
}
textarea{
    height: 5rem!important;
    background-color: var(--purple)
}

.done{
    font-size: 19px;
    color: green;
    font-weight: bolder;
}
.not-done{
    font-size: 19px;
    color: red;
    font-weight: bolder;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.description{
    font-size: 1.1em;
}

.maps{
    border-radius: 10vh;
    width: 80%;
}

.col{
    padding-bottom: 8%;
}


@media (max-width: 767px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

    .c-right>form {
        padding-top: 15%;
    }

    .maps{
        height: 20em;
        width: 15em;
    }

    .col{
        padding-bottom: 15%;
    }

    .contact{
        padding-top: 25%;
    }

}

@media (min-width: 767px) and (max-width: 994px){
    .c-left{
        width: 60% !important;
    }

    .c-right{
        padding-top: 5%;
        width: 60% !important;
    }

    .r-contact{
        justify-content: center !important;
    }
}

  
.custom-modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: none;  /* Rimuovi il bordo predefinito */
  }
  
  .custom-modal-content {
    border-radius: 3%;
    border: none;  /* Rimuovi il bordo predefinito */
  }

  .custom-modal-header{
    background-image: linear-gradient(to right, #d28a31, #efc75e, #d28a31);
    border-bottom: 1px #0f0f0f !important;
  }
  
  .custom-modal-title {
    font-size: 24px !important;
    color: #3f3628 !important;
    font-weight: bolder;
  }
  
  .custom-modal-body {
    font-size: 18px !important;
    color: #f9f5f5;
    background-image: linear-gradient(to left, #323234, #0f0f0f);
    border-top: 1px #0f0f0f !important;

  }
  
  .custom-modal-footer {
    background-image: linear-gradient(to left, #323234, #0f0f0f);
    border-top: 1px solid #524f4f !important;
    border-bottom: 0px  #0f0f0f !important;
  }


  @media (max-width: 767px){

    
    .custom-modal-footer{
        border-top: 0px solid #524f4f !important;
        border-bottom: 0px  #0f0f0f !important;
    }
  }
  
  

  