html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgb(5, 8, 40), rgb(1, 4, 39)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(5, 8, 40, 0.87), rgba(1, 4, 39, 0.925)
    );
  
    --imp-text-color: #efc75e;
    --imp-bold-text-color: #efc75e;
  }
  
  .yellow {
    color: var(--imp-bold-text-color) !important;
  }
  
  .purple {
    color: var(--imp-text-color) !important;
  }
  
  button:focus {
    box-shadow: none !important;
  }
  
  /* --------- */
  /*  Preloader */
  /* --------- */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #2a2a2c;
    background-image: url(./assets/animation3.gif);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #preloader-none {
    opacity: 0;
  }
  
  #no-scroll {
    overflow: hidden;
    height: 100vh;
  }


  #tsparticles{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  

  /* --------- */
  /*Scrollbar   */
  /* --------- */
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #efc75e;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #efc75e;
    border-radius: 12px;
  }
  
  /* --------- */
  /* Navbar Section  */
  /* --------- */
  .sticky {
    background-color: #efc75e !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
  }
  
  .navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.2rem !important;
    font-size: 1.2rem !important;
    background-image: linear-gradient(to right, #d28a31, #efc75e, #d28a31);
  }
  
  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: black !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    background-color: black !important;
    height: 4px;
    width: 27px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: #efc75e !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 0.5rem 2rem !important;
      font-size: 1.2rem !important;
      background-color: #efc75e !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
    .navbar-toggler span{
      height: 2px ;
      width: 15px;
    }
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  
  .logo {
    height: 4em;
    width: 4em;
  }
  
  .navbar-nav .nav-link {
    color: black !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  
  @media (max-width: 767px) {
    .nav-link {
      padding: 0.4rem 0.4rem !important;
    }

    .logo {
      width: 2.6em;
    }
  
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
  }
  
  .navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: black;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 992px){
    .navbar-nav .nav-item {
      margin-left: 38px;
    }

    .logo{
      width: 7em;
    }
  }
  
  /* --------- */
  /* Home section */
  /* --------- */
  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  
  .home-header {
    padding-top: 150px !important;
  }
  
  .home-section {
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to left, #323234, #0f0f0f);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 0px !important;
  }
  
  .home-content {
    padding: 9rem 0 2rem;
    color: whitesmoke;
    text-align: left;
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: #efc75e;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #efc75e!important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #efc75e !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }

    .heading {
      font-size: 1.5em !important;
    }
    
    .main-name {
      font-size: 1.5em !important;
    }

    .heading-name {
      font-size: 1.5em !important;
    }

    .home-content{
      padding: 0 0 0;
    }
    .img-pasquale {
      padding-top: 10%;
      height: 90%;
    }
    .col-img{
      text-align: center;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    padding-top: 8em !important;
  }
  
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 0em !important;
      padding-bottom: 3em !important;
    }

    .d {
      padding-top: 2em !important;
      padding-bottom: 3em !important;
      width: 40%;
      height: 40%;
    }
  }

  .title{
    color: #efc75e;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .d-flex{
    padding-top: 10%;
  }

  .img{
    width: 50%;
    height: 50%;
    border: 5px solid #ffffff;
    border-radius: 50px;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    .img{
      width: 50%;
      height: 50%;
    }
  }
  
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }

  .titleI{
    font-size: 2.6em;
  }
  
  .home-about-description {
    color: white !important;
    padding-top: 80px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }

  @media (max-width: 767px){
    .home-about-description {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }
  
  .home-about-body {
    padding-top: 50px;
    font-size: 1.1em !important;
    text-align: left;
  }

  .descp{
    color: white;
    padding-top: 1%;
    padding-bottom: 3%;
    font-size: 1.1em
  }

  @media (min-width: 768px) and (max-width: 992px){

    .r-about{
      justify-content: center;
    }
    
    .myAvtar{
      width: 50% !important;
      padding-top: 0 !important;
      padding-bottom: 5%;
    }
  }

  .home-about-social {
    text-align: center !important;
    padding-top: 8%;
    color: white !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center !important;
    font-size: 1.8em !important;
    line-height: 1.8em !important;
    background: rgba(110, 110, 110, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #efc75e;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.);
    box-shadow: 0 0 15px #fdf902;
  }
  
  .home-social-icons:hover {
    color: #efc75e;
    box-shadow: 0 0 20px #d28a31;
    text-shadow: 0 0 5px #d28a31;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #efc75e !important;
  }

  .link-c {
    text-decoration: none;
    color: #efc75e;
  }

  .link-c:hover {
    text-decoration: none;
    color: #d28a31;
  }


  @media (max-width: 767px) {
    .titleI{
      font-size: 2.2em;
    }

    .home-about-social {
      padding-top: 20%;
    }

    .descp{
      padding-top: 4%
    }
  }

  /*POLAROID*/

  @import url('https://fonts.googleapis.com/css?family=Poor+Story');

* {
  box-sizing: border-box;
}

.titleE{
  color: white;
  padding-top: 5%;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

@media (max-width: 768px) {
  .item {
    width: 90%;
  }

  .titleE{
    font-size: 2.2em;
    padding-top: 10%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .item {
    width: 40%;
  }
}

/*GALLERY*/

  .image-gallery-slide img {
    width: 100%;
    height: 300px;
}

.titleG{
  padding-top: 12%;
  color: white;
  font-size: 2.6em;
}

@media (max-width: 768px) {
  .gallery{
    padding-top: 30%;
    padding-bottom: 15%;
  }

  .titleG{
    font-size: 2.2em;
  }
}

/*SWITCH*/

.switch{
  padding-top: 3%;
  font-size: 1.1rem;
}

.switch-p {
  color: white;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-space {
  margin: 0 10px;
}

.switch-link{
  color: #efc75e;
}

.switch-link:hover{
  color: #d28a31;
}

  /* --------- */
  /* Footer */
  /* --------- */
  .footer {
    background-color: rgb(16, 16, 19);
    bottom: 0 !important;
    padding-top: 2px !important;
    padding-bottom: px !important ;
  }

  .footer-copywright {
    display: flex;
    text-align: center !important;
    align-items: center;
    justify-content: center;
  }
  
  .footer-copywright span {
   color: white;
   font-size: 0.9rem;
  }

  .footer-body {
    z-index: 1;
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      padding-top: 5%;
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  /* --------- */
  /* About */
  /* --------- */
  
  .about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
  }
  
  
  @media (max-width: 767px) {
    .about-img {
      padding-top: 0 !important;
    }
  }

  
/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 5px 5px 5px 0 #efc75e !important;
  color: white !important;
  background-color: #44404b !important;
  opacity: 0.9 !important;
  transition: all 0.4s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.10) !important;
  overflow: hidden !important;
  box-shadow: 0 0px 5px 3px #d28a31 !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.btn-primary {
  /* color: #fff !important; */
  color: rgb(24, 2, 44) !important;
  background-color: #efc75e !important;
  border-color: #efc75e !important;
  /* background-color: #623686 !important;
  border-color: #623686 !important; */
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #efc75e !important;
  border-color: #efc75e !important;
  /* background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important; */
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.5em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

@media (max-width: 767px) {
  .project-heading{
    padding-bottom: 8%;
  }
}

@media (min-width: 768px) and (max-width: 1196px){
  .project-card{
    width: 50% !important;
  }
}
